DATABASE_URL="postgresql://iam_user:03101812%40@localhost:5432/iam?schema=public"
JWT_ACCESS_PRIVATE_KEY_PATH="./keys/jwt_access_private.pem"
JWT_ACCESS_PUBLIC_KEY_PATH="./keys/jwt_access_public.pem"
JWT_REFRESH_PRIVATE_KEY_PATH="./keys/jwt_refresh_private.pem"
JWT_REFRESH_PUBLIC_KEY_PATH="./keys/jwt_refresh_public.pem"
REDIS_URL="redis://localhost:6379"
PORT=4020
